@import url('https://fonts.googleapis.com/css?family=Cinzel');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #151719;
}

form{
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
}

input{
    margin: 5px;
    width: 3%;
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #151719;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-transform: uppercase;
}

/**************** PAGE TITLE & ANIMATION ****************/

.waviy{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.waviy span{
    font-family: 'Cinzel', cursive;
    position: relative;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    animation: waviy 4s infinite;
    animation-delay: calc(.1s * var(--i));  
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-15px)
  }
}

/**************** GUESS SUBMIT BUTTONS ****************/

button{
    display: inline-block;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #437a4e;
    border: none;
    border-radius: 22px;
    box-shadow: 0 8px #9a9a9a;
  }
  
  button:active {
    background-color: #cc474a;
    box-shadow: 0 5px #9a9a9a;
    transform: translateY(4px);
  }

  /**************** VICTORY OVERLAY ****************/

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
  }

  #text{
    font-family: 'Cinzel', cursive;
    border: solid white;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    position: absolute;
    text-align: center;
    background-color: #151719;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .reveal{
    color: #437a4e;
    font-weight: bold;
  }

  .message{
    font-size: 30px;
  }

  .btn-r{
    font-family: 'Cinzel', cursive;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  /**************** KEYBOARD ****************/

  .keyboard{
    margin-top: 30px;
  }

  .key-row-1, .key-row-2, .key-row-3, .key-row-4{
    margin: auto;
    width: 600px;
    height: 50px;
    text-align: center;
  }

  .key{
    border: solid white;
    border-radius: 10px;
    color: white;
    width: 25px;
    height: 15px;
    display: inline;
    margin: 2px;
    padding: 10px;
  }